 
 $text:black;
 $Bcolor:rgb(56, 55, 55);
 $Ccolor:white;
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color:$text;
    background-color: $Bcolor;
    flex-direction: row;
    .card{
        width: 80%;
        max-width: 600px;
        background-color:$Ccolor;
        border-radius: 1em;
        display:flex;
        flex-direction: row;
        img{
            border-radius: 50%;
            width: 30%;
            height: 30%;
            margin-top: 1.5em;
            margin-left: 1em;
            margin-bottom: 1.5em;
        }
        .card-content{
            font-weight: 300;
            opacity: 0.8;
            margin-bottom: 0;
            text-align: center;
            h1{
                font-size: 2.2em;
                letter-spacing: 1px;
                margin-bottom: 0.5em;
                margin-left: 1.5em;
            }
            p{
                text-transform: uppercase;
                font-size:0.8em;
                letter-spacing: 2px;
                margin-bottom: 2em;
            }
            ul{
                list-style-type: none;
              }
        }
    }
}